*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(177, 165, 165);
}

.container-test{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}